---
layout: default
---

<div id="main" role="main">
    <div class="wrap">
        <link rel="stylesheet" href="{{ site.url }}/css/scoped-twbs.min.css">
        <div class="page-content">
            <div class="twbs">
                <div class="container">
                    <div class="row row-eq-height">
                        <div class="col-md-8">
                            Hello! 今日は! 안녕하세요!
                            <br><br>
                            My name is Seikun Kambashi, and I am a Software Engineering graduate from the University of Waterloo.
                            <br><br>
                            In the past few years, I've had the privilege of collaborating with outstanding folks at
                            <a href="http://databricks.com/" target="_blank">Databricks</a>,
                            <a href="https://squareup.com/us/en" target="_blank">Square</a>,
                            <a href="https://www.wealthsimple.com/" target="_blank">Wealthsimple</a>,
                            <a href="https://www.geforce.com/geforce-now" target="_blank">NVIDIA</a>,
                            <a href="https://careers.microsoft.com/v2/global/en/locations/tokyo.html" target="_blank">Microsoft</a>, and
                            <a href="https://www.placeiq.com/" target="_blank">PlaceIQ</a>.
                            <br><br>
                            I am currently a member of the Revenue and Experimentation team at <a href="https://www.warp.dev/" target="_blank">Warp</a>, where we are passionate about empowering developers so that they can deliver great software, quickly and reliably - starting with the terminal!
                            <br><br>
                            Beyond my professional pursuits, I have a strong enthusiasm for rock climbing, reading, gaming, and mastering new songs on my guitar.
                            <br><br> 
                            For a more detailed insight into my work and experiences, feel free to explore my <a href="{{site.url}}/projects" target="_blank"><b>projects</b></a> page,
                            connect with me on <a href="https://www.linkedin.com/in/seikun" target="_blank"><b>LinkedIn</b></a>,
                            or take a look at my <a href="{{site.url}}/assets/seikun_kambashi.pdf" target="_blank"><b>resume</b></a>.
                            <br><br>
                            Cheers,
                            <br><br>
                            <b><i>Seikun Kambashi<br>上橋 盛勲</i></b>
                        </div>
                        <div class="col-md-4 text-center">
                            <img class="circular" style="border-radius: 50%; width: 310px; height: auto" src="{{ site.url }}/images/profile.jpg">
                            <br><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.page-content -->
    </div>
    <!-- /.wrap -->
</div>
<!-- /#main -->
