---
layout: default
---

<div id="main" role="main">			
	<div class="wrap">
			<link rel="stylesheet" href="{{ site.url }}/css/scoped-twbs.min.css">
			<div class="page-content">
				<div class="twbs">
					<div class="container">
						<div class="row row-eq-height">
							<div class="col-md-4">
								<!-- <div class="circular"></div> -->
								<img class="circular" style="border-radius: 50%; width: 310px; height: auto" src="{{ site.url }}/images/profile_mini.png">
								<br><br>
							</div>
							<div class="col-md-8 col-xs-12">
								Hello World!
								<br><br>
								My name is Seikun Kambashi, currently studying Software Engineering at the University of Waterloo.
								Whenever I’m not busy developing and learning, I love to go rock climbing, play video games, read books, and jam some music with my friends.
								<br><br>
								Feel free to checkout my <a href="{{site.url}}/projects"><b>projects</b></a> and <a href="{{site.url}}/assets/Resume.pdf"><b>résumé</b></a> to learn more about me. You can also see some of my latest instagram photos below.
								<br><br>
								Thanks for coming by,
								<br><br>
								<i>Seikun Kambashi</i>
							</div>
						</div>
						<div class="row row-eq-height" style="float: none; margin: 0 auto">
							<div class="col-md-11">
								<hr>
							</div>
						</div>
						<div class="row row-eq-height">
							<div id="instafeed"></div>
						</div>
					</div>
				</div>
			</div><!-- /.page-content -->
	</div><!-- /.wrap -->
</div><!-- /#main -->

<script type="text/javascript" src="{{ site.url }}/js/instafeed.min.js"></script>

<script type="text/javascript">
	var loadButton = document.getElementById('load-more');
	var feed = new Instafeed({
        get: 'user',
	    userId: 1318690860,
	    accessToken: '1318690860.467ede5.3cb41abb9b95463eaec774bf9b2cad33',
	    limit: 6,
	    template: '<div class="col-xs-2"><a target="_blank" href="\{\{link\}\}"><img src="\{\{image\}\}"></div>',
	});
	feed.run();
</script>